<div class="alert alert-info" style="margin:20px;"><div class="label label-warning" style="display:inline-block; vertical-align:top;"><h2>Edit post</h2></div><div style="display:inline-block; padding-left:20px;">
<%= render 'form' %><div class="btn btn-small"><%= link_to 'Back', posts_path %></div></div></div>
